@using BulkyBook.Common
@using static BulkyBook.Common.Constants
@using Microsoft.AspNetCore.Http

@inject UserManager<Customer> userManager;
@{
    var currentUser = await userManager.GetUserAsync(Context.User);
    var userRoles = currentUser != null ? await userManager.GetRolesAsync(currentUser) : null;
    var isAdminOrSuperAdmin = userRoles != null && (userRoles.Any(e => e == Roles.SuperAdmin.ToString())
    || userRoles.Any(e => e == Roles.Admin.ToString()));
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BulkyBook.Web</title>
    <link rel="stylesheet" href="~/css/bootsWatch.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BulkyBook.Web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Customer" asp-controller="Home" asp-action="Index">
                                Home
                                <span class="visually-hidden">(current)</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Customer" asp-controller="Home" asp-action="Privacy">
                                Privacy
                                <span class="visually-hidden">(current)</span>
                            </a>
                        </li>

                        @if (isAdminOrSuperAdmin)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                               aria-haspopup="true" aria-expanded="false">Admin Options</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Category" asp-action="Index">Category</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="CoverType" asp-action="Index">Cover Type</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Product" asp-action="Index">Product</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Company" asp-action="Index">Company</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Feature" asp-action="Index">Feature</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="User" asp-action="Index">User Management</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Roles" asp-action="Index">Role Management</a>
                                </div>
                            </li>
                        }

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="OrderManagement"
                               asp-action="Index">
                                Order Management
                                <span class="visually-hidden">(current)</span>
                            </a>
                        </li>

                        <li class="nav-item align-content-end">
                            <a class="nav-link text-dark" asp-area="Customer" asp-controller="Cart" asp-action="Index">
                                Cart
                                @await Component.InvokeAsync("ShoppingCart")
                            </a>
                        </li>

                    </ul>

                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted footer">
        <div class="container">
            &copy; 2022 - BulkyBook.Web -
            <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <partial name="_toaster" />
</body>
</html>
